* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(34, 49, 74);
    width: 100%;
    height: 100vh;
    display: flex;
}

.center {
    background: seashell;
    width: 80%;
    height: 40%;
    margin: auto;
    padding: 15px;
    /* overflow: scroll; */
    position: relative;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    position: absolute;
    top: -30px;
    left: 0;
    background: white;
}

li {
    padding: 5px;
    border: 1px solid blue;
    border-bottom: none;
    width: 100%;
}

li a {
    top: -5px;
}

.tabs .active a {
    color: red;
}